
@import "./utils/variables";
@import "./utils/mixins";
@import "layout/Navbar";
@import "layout/Footer";
@import "layout/loader";
@import "./pages/Home";
@import "./pages/profile";
@import "./pages/services";
@import "./pages/Legalnotice";
@import "./pages/contact";
@import "./components/Carousel";
@import "./components/works";
@import "./utils/colors";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3 {
    font-family: "Space Grotesk", sans-serif;
}



h1 {
    font-size: 1.7rem;
    margin: 20px 40px;
    color: $main-color;
    @media (max-width: 991px) {
        font-size: 1.5rem;
    }
}

h2 {
    text-align: center;
    margin: 30px 0;
    color: $main-color;
}

h1, h2, p {
  line-height: 1.3;
  min-height: 1.2em; 
}


body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    .background-color {
        min-height: 100vh;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.header-main {
    display: flex;
    flex-direction: column;
    max-width: 1240px;
    width: 100%;
    margin: 0px auto;
    box-sizing: border-box;
}

header {
    margin: 0 20px;
    
}

main {
    box-sizing: border-box;
    width: 100%;
    min-height: 500px;
}

section {
    box-sizing: border-box;
    width: 100%;
    padding: 0px 30px;
    @include flex-column-center;
}

ul {
    padding-inline-start: 0;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

select {
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.intro {
    margin: 0;
}

.banner {
    img {
        max-width: 768px;
        @include img-card;
        
    }
}

@media (min-width: 992px) {
  .banner {
    h2 {
      @include highlight;
      left: -220px;
      top: -175px;

    }
    p {
      @include highlight;
      max-width: 700px;
      left: 0px;
      top: -180px;
      font-weight: bold;
    }
  }
  .margin {
    margin-top: -170px;
  }
}

.card-banner {
    max-width: 768px;
}