<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Si la requête n'est pas un fichier ou dossier existant
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Rediriger vers index.html
  RewriteRule ^ index.html [QSA,L]
</IfModule>
