@import "./variables";
@import "./mixins";

// Mode Styles
body.mode {
    span {
        font-weight: bold;
    }
    .background-color {
        
        button.toggle-button {
            @include btn;
            @include btn-color-main;
        }
        

        
        .formation {
            @include badark-colight-component;
        }
        
        select {
            @include badark-colight-component;
        }
        

        
        .label-work {
            .base {
                @include badark-colight-component;
            }
            .pointer {
                border-bottom: 59px solid $component;
            }
        }
        
        tr {
            @include badark-colight-component;
            &:hover {
                background-color: $component-hover;
            }
        }
        
        @media (min-width: 600px) {
            .table {
                @include badark-colight-component;
                &:hover {
                    background-color: $component-hover;
                }
            }
        }
    }
}
