@use "./variables" as *;
@use "./mixins";

// Mode Styles
body.mode {
    span {
        color: $main-color;
        font-weight: bold;
    }
    .background-color {
        @include mixins.badark-colight;
        .nav-ul {
            @include mixins.badark-colight-component;
            @media (min-width: 768px) {
                background: transparent;
                border: none;
            }
            .nav-li {
                @include mixins.underline-anim;
                a {
                    
                    color: $main-color;
                }
                .active {
                    @include mixins.underline-active;
                }
            }
        }
        
        .bar {
            background-color: $main-color;
        }
        
        button.toggle-button {
            @include mixins.btn;
            @include mixins.btn-color-main;
        }
        
        .card {
            position: relative;
            border-radius: 10px;
            background: linear-gradient($component, $component) padding-box, linear-gradient(135deg, #E8B4C8 0%, #C8A8D8 50%, #A8C8B8 100%) border-box;
            border: 2px solid transparent;
            color: $light-text;
            &:hover {
                background: $component-hover;
                color: #f5f1ed;
            }
        }
        
        .formation {
            @include mixins.badark-colight-component;
        }
        
        select {
            @include mixins.badark-colight-component;
        }
        
        .tag {
            @include mixins.badark-colight-tags;
        }
        
        .contact-form {
            color: $text;
            input, textarea {
                background-color: $input;
                color: $text;
            }
            .btn-submit-form {
                background: $text;
                color: $light-color;
                @include mixins.btn;
                @include mixins.transition-btn;
                &:hover {
                    @include mixins.badark-colight;
                    border: $light-color 1px solid;
                    text-decoration: none;
                }
            }
        }
        
        .label-work {
            .base {
                @include mixins.badark-colight-component;
            }
            .pointer {
                border-bottom: 59px solid $component;
            }
        }
        
        footer {
            background-color: #f5f1ed;
            color: $main-color;
            .main-button {
                @include mixins.btn;
                @include mixins.btn-color-main;
            }
            .link {
                @include mixins.underline-anim;
            }
        }
        
        tr {
            @include mixins.badark-colight-component;
            &:hover {
                background-color: $component-hover;
            }
        }
        
        @media (min-width: 600px) {
            .table {
                @include mixins.badark-colight-component;
                &:hover {
                    background-color: $component-hover;
                }
            }
        }
    }
}
