@import "./variables";
@import "./mixins";

// Mode Styles
body.mode {
    span {
        font-weight: bold;
    }
    .background-color {
        @include badark-colight;
        .nav-ul {
            @include badark-colight-component;
            @media (min-width: 768px) {
                background: transparent;
                border: none;
            }
        }
        
        .bar {
            background-color: $main-color;
        }
        
        button.toggle-button {
            @include btn;
            @include btn-color-main;
        }
        
        .card {
            position: relative;
            border-radius: 10px;
            background: linear-gradient($component, $component) padding-box, linear-gradient(135deg, #E8B4C8 0%, #C8A8D8 50%, #A8C8B8 100%) border-box;
            border: 2px solid transparent;
            color: $light-text;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            &:hover {
                background: $component-hover;
                color: #f5f1ed;
            }
        }
        
        .formation {
            @include badark-colight-component;
        }
        
        select {
            @include badark-colight-component;
        }
        
        .tag {
            @include badark-colight-tags;
        }
        

        
        .label-work {
            .base {
                @include badark-colight-component;
            }
            .pointer {
                border-bottom: 59px solid $component;
            }
        }
        
        footer {
            color: $light-color;
            .main-button {
                @include btn;
                @include btn-color-main;
            }
            .link {
                @include underline-anim;
            }
        }
        
        tr {
            @include badark-colight-component;
            &:hover {
                background-color: $component-hover;
            }
        }
        
        @media (min-width: 600px) {
            .table {
                @include badark-colight-component;
                &:hover {
                    background-color: $component-hover;
                }
            }
        }
    }
}
