@import "../utils/variables";

@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flex-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin grid-2 {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

@mixin btn {
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 10px 15px;
}

@mixin bablack-cowhite {
    background: #121212;
    color: white;
}

@mixin bagradient-coblack {
    background: linear-gradient(93deg, $main-color 0%, $secondary-color 100%);
    color: #121212;
}

@mixin modal-btn {
    background: none;
    padding: 0;
    font-size: 16px;
    border: none;
}

@mixin form-input-text {
    max-width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

@mixin underline-anim-black {
    background: linear-gradient(to top, rgba(18, 18, 18, 1) 0%, rgba(18, 18, 18, 1) 1px, transparent 2px) no-repeat;
    background-size: 0 100%;
    transition: background-size 0.3s cubic-bezier(.77,0,.18,1);
    &:hover {
        background-size: 100% 100%;
    }
}

@mixin underline-anim-white {
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 1px, transparent 2px) no-repeat;
    background-size: 0 100%;
    transition: background-size 0.3s cubic-bezier(.77,0,.18,1);
    &:hover {
        background-size: 100% 100%;
    }
}

@mixin zoom-btn {
    transform: scale(1); 
    transition: transform 0.3s cubic-bezier(.68,-0.55,.27,1.55);
    &:hover {
      transform: scale(1.1);
    }
}