
@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flex-space-between {
    display: flex;
    justify-content: space-between;
}

@mixin btn {
    border-radius: 10px;
    border: none;
    padding: 7px 10px;
}

@mixin bablack-cowhite {
    background: #121212;
    color: white;
}

@mixin bagradient-coblack {
    background: linear-gradient(93deg, rgba(255,251,213,1) 0%, rgba(255,204,251,1) 100%);
    color: #121212;
}