//Color

$main-color: #8F72AF; //#8C52FF
$secondary-color: rgba(255,204,251,1);

//Elements
$background: rgba(25, 20, 43, 0.8); //#19142B
$text: black; //#E3DAFF;
$border: #5A3CA0;
$tags: #F3EFF8;
$tags-text: #2D1F3C;
$component-hover: #9B7EBD;
$component: #f5f1ed;
$input: #19191B;

$light-color: white;
$light-text: #19191B;

//width

$gap: 30px;