@import "../../utils/mixins";

.about {
    width: 100%;
    margin: 30px 0;
    .tag-btn {
        width: 100%;
        .tags {
            box-sizing: border-box;
            width: 100%;
            @include flex-column-center;
            @media (min-width: 498px) {
                @include flex-row-center;
                gap: 0;
                .tag {
                    margin: 0;
                }
            }
            .tag {
                margin: 15px;
            }
        }
    }
}
