.header-banner {
    @include flex-column-center;
    text-align: center;
    img {
        max-width: 300px;
        width: 100%;
    }
    .all-mode {
        @include flex-column-center;
        gap: 20px;
    }
}