@import "../../utils/mixins";

.skills {
    margin-bottom: 30px;
    .container-card-skills {
        margin: 20px 0;
        gap: 20px;
        @include flex-column-center;
        @media (min-width: 800px) {
            @include grid-2;
        } 
        @media (min-width: 1200px) {
            @include flex-space-between;
        } 
        .card-skills {
            display: flex;
            box-sizing: border-box;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            height: 200px;
            width: 100%;
            margin: 0;
            padding: 0 20px;
            @media (min-width: 800px) {
                height: 250px;
            }
            @media (min-width: 1200px) {
                height: 300px;
                
            }
            .li-skills {
                text-align: center;
                @media (min-width: 1200px) {
                    text-align: initial;
                }
                li {
                    list-style:disc;  
                }
            }
        }
    }
}

