@import "../../utils/mixins";

.skills {
    margin-bottom: 30px;
    .container-card-skills {
        margin: 20px 0;
        gap: 20px;
        @include flex-column-center;
        @media (min-width: 800px) {
            @include grid-2;
        } 
        .skills {
            display: flex;
            box-sizing: border-box;
            @include flex-column-center;
            justify-content: center;
            font-size: 15px;
            border-radius: 20px;
            height: 300px;
            width: 100%;
            margin: 0;
            padding: 0 20px;
            
            @media (min-width: 550px) {
                height: 220px;
            }
            @media (min-width: 800px) {
                height: 320px;
                font-size: 16px;
            }
            @media (min-width: 1200px) {
                height: 300px;
                font-size: 17px;
                text-align: center;
                
            }
            .traingle1 {
                width:50px;
                height: 50px;
                background-color: black;
                position: absolute;
            }
            .li-skills {
                display: flex;
                flex-direction: column;
                align-items: start;
                @media (min-width: 590px) {
                    align-items: center;
                }
                @media (min-width: 800px) {
                    align-items: start;
                }
                @media (min-width: 1200px) {
                    align-items: center;
                    
                }
            }
        }
    }
}

