@import "../../utils/mixins";

.container-card-skills {
    width: 100%;
    gap: 20px;
    margin: 15px;
    @include flex-column-center;
    @media (min-width: 800px) {
        @include flex-space-between;
        flex-direction: row;
        gap: 30px;
    } 
    .card-skills {
        border: 1px solid blueviolet;
        border-radius: 20px;
        height: 200px;
        width: 100%;
        padding: 15px;
        
        @media (min-width: 800px) {
            height: 300px;
        } 
    }
}
