@import "../../utils/mixins";

.success {
    width: 100%;
    display: flex;
    flex-direction: column;
    .container-img-success {
        box-sizing: border-box;
        width: 100%;
        align-items: center;
        @media (min-width: 800px) {
            display: flex;
            width: 100%;
        }
        img {
            width: 100%;
            max-width: 400px;
            margin: 0 auto;
            display: block;
        }
        .container-success {
            li {
                padding: 10px;
                @media (min-width: 1200px) {
                    font-size: 18px;
                }
            }
        }
    }
}