@import "../../utils/mixins";

.container-card-works {
    
    margin: 0 20px;
    gap: 20px;
    @media (min-width: 800px) {
        @include flex-space-between;
        flex-direction: row;
        gap: 30px;
    } 
    .card-works {
        position: relative;

        img {
            border-radius: 20px;
            width: 100%;
            height: 225px;
            object-fit: cover;
        }
        h3 {
            position: absolute;
            top: 0px;
            left: 15px;
        }
    }
}