@import "../utils/variables";
@import "../utils/mixins";
@import "../pages/sections/header";
@import "../components/Togglemode";
@import "../components/Contactmodal";

.btn {
    @include btn;
    @include btn-color-main;
    @include zoom-btn;
    display: inline-block;
    margin: 15px 0;
}

.hook-about {
    width: 100%;
    .container-hook-about {
        gap: $gap;
        @media (min-width: 768px) {
            @include flex-row-center;
        }
        .card-profile {
            box-sizing: border-box;
            padding: 20px;
            width: 100%;
            border-radius: 7px;
            @include transition-btn;
            
            .card-user {
                @include flex-column-center;
                margin: 0 0 10px;
                svg {
                    font-size: 20px;
                    margin: 10px 0;
                }
                li {
                    margin: 2px 0;
                    
                }
            }
            li {
                margin: 7px 0;
                svg {
                    margin: 0 5px;
                }
            } 
        }
        .tags {
            display: flex;
            justify-content: space-around;
            gap: 20px;
            .tag {
                @include tags;
            }
        }
        .text-hook-about {
            @include flex-column-center;
        }
    }
}