@import "../utils/variables";
@import "../utils/mixins";

.header-banner {
  @include flex-column-center;
  text-align: center;
  
  h1,
  p {
    opacity: 0;
    visibility: hidden;
  }
  img {
    max-width: 991px;
    @include img-card;
  }
  p {
    margin: 10px auto 20px;
    opacity: 1;
    visibility: visible;
  }
  .buttons-social {
    gap: 20px;
    display: flex;
    margin: 20px auto;
    flex-direction: column;
    align-items: center;
    
    @media (min-width: 375px) {
      flex-direction: row;
      align-items: initial;
    }
    
    a {
      display: flex;
      align-items: center;
      gap: 5px;
      background-color: $main-color;
      color: white;
      @include btn;
      @include zoom-btn;
    }
  }
  .toggle-button {
    margin: 10px auto;
    @include zoom-btn;
  }
}

.hook-works,
.hook-services {
  @include flex-column-center;
}

.container-hook-services {
  width: 100%;
  margin-bottom: 20px;
  @include flex-column-center;
  gap: $gap;
  @media (min-width: 932px) {
    @include flex-row-center;
  }
  .card {
    @include highlight-card;
    width: 100%;
    svg {
      color: $main-color;
      font-size: 48px;
      margin-top: 20px;
    }
    h3 {
      color: $main-color;
      text-align: center;
    }
  }
}

@media (min-width: 992px) {
  .header-banner {
    h2 {
      @include highlight;
      left: -225px;
      top: -250px;

    }
    p {
      @include highlight;
      left: -190px;
      top: -270px;
      font-weight: bold;
    }
    .buttons-social {
      position: relative;
      z-index: 10;
      left: -303px;
      top: -290px;
    }
  }
  .hook-services {
    margin-top: -200px;
  }
}

.cta {
  background-color: $main-color;
  color: white;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    color: white;
  }
  .btn {
    background-color: #f5f1ed;
    color: $main-color;
  }
}

.me {
  @include card-color;
  margin-bottom: 20px;
  
}

.offers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  
  @media (min-width: 932px) {
    flex-direction: row;
  }
  
  .offer-card {
    @include highlight-card;
    width: 100%;
    
    h3 {
      color: $main-color;
      text-align: center;
    }
    
    p {
      text-align: center;
    }
    span {
      display: block;
      text-align: center;
      margin-top: 10px;
      font-weight: bold;
    }
  }
}