@import "../utils/variables";
@import "../utils/mixins";

.header-banner {
  @include flex-column-center;
  text-align: center;
  
  h1,
  p {
    opacity: 0;
    visibility: hidden;
  }
  img {
    max-width: 991px;
    @include img-card;
  }
  p {
    margin: 10px auto 20px;
    opacity: 1;
    visibility: visible;
  }
  .buttons-social {
    gap: 20px;
    display: flex;
    margin: 20px auto;
    flex-direction: column;
    align-items: center;
    
    @media (min-width: 375px) {
      flex-direction: row;
      align-items: initial;
    }
    
    a {
      display: flex;
      align-items: center;
      gap: 5px;
      background-color: $main-color;
      color: white;
      @include btn;
      @include zoom-btn;
    }
  }
  .toggle-button {
    margin: 10px auto;
    @include zoom-btn;
  }
}

.hook-about {
  width: 100%;
  
  .container-hook-about {
    gap: $gap;
    
    @media (max-width: 374px) {
      @include flex-column-center;
    }
    
    @media (min-width: 768px) {
      @include flex-row-center;
    }
    .profile {
      .card-user {
        p {
          margin: 0;
        }
        @include flex-column-center;
        margin: 0 0 10px;
        svg {
          font-size: 20px;
        }
      }
      li {
        margin: 7px 0;
        svg {
          margin: 0 5px;
        }
      }
    }
    .tags {
      display: flex;
      justify-content: space-around;
      gap: 20px;
      .tag {
        @include tags;
      }
    }
    .text-hook-about {
      @include flex-column-center;
      .box {
        @include flex-row-center;
        gap: 20px;
        @media (max-width: 768px) {
          @include flex-column-center;
          text-align: center;
        }
        img {
          width: 100%;
          height: 100%;
          max-width: 100px;
          border-radius: 50%;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.219);
          border-color: $main-color;
          border-style: solid;
          border-width: 2px;
        }
      }
    }
  }
}

.hook-works,
.hook-services {
  @include flex-column-center;
}

.container-hook-services {
  width: 100%;
  @include flex-column-center;
  gap: $gap;
  @media (min-width: 932px) {
    @include flex-row-center;
  }
  .service {
    text-align: center;
    padding-bottom: inherit;
    padding-top: inherit;
    svg {
      font-size: 48px;
      margin-top: 20px;
      
    }
    
  }
}

@media (min-width: 992px) {
  .header-banner {
    h2 {
      @include highlight;
      left: -225px;
      top: -250px;

    }
    p {
      @include highlight;
      left: -190px;
      top: -270px;
      font-weight: bold;
    }
    .buttons-social {
      position: relative;
      z-index: 10;
      left: -303px;
      top: -290px;
    }
  }
  .hook-services {
    margin-top: -200px;
  }
}
