@import "../utils/variables";
@import "../utils/mixins";

.experiences {
    margin-bottom: 30px;
}
.banner {
  min-height: 500px;
  @include flex-column-center;
  margin-bottom: 2rem;
  img {
    max-width: 300px;
    width: 100%;
    margin-top: 30px;
  }
}

.btn {
  margin: 0 auto;
}



.technos {
  @include flex-row-center;
  justify-content: center;
  gap: 30px;
  font-size: 27px;
  @media (max-width: 375px) {
    font-size: 20px;
    gap: 20px;
} 
svg {
  @include zoom-btn;
  color: $main-color;
}
}

.container-mobile {
  display:flex;
  text-align: center;
  margin: 20px;
  @include flex-column-center;
  gap: 20px;
  @media (min-width: 1100px) {
    @include flex-row-center;
} 
}

.insert {
  @include card;
  span {
    font-size: 10px;
  }
  h3 {
    font-size: 12px;
  }
  p {
    font-size: 10px;
  }
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.success {
    width: 100%;
    display: flex;
    flex-direction: column;
    .container-img-success {
        box-sizing: border-box;
        width: 100%;
        align-items: center;
        @media (min-width: 800px) {
            display: flex;
            width: 100%;
        }
        img {
            width: 100%;
            max-width: 250px;
            margin: 0 auto;
            display: block;
            border-radius: 7px;
        }
        .container-success {
            @include card-color;
            margin: 20px;
            li {
                padding: 10px;
                @media (min-width: 1200px) {
                    font-size: 18px;
                }
            }
        }
    }
}

.profile {
    .card-banner {
        max-width: 768px;
    }
    @media (min-width: 992px) {
        .banner {
            h2 {
                left: -170px;
                top: -175px;

            }

        }
    }
}

.technical-skills-grid {
  @include grid-3;
    .skill-card {
        @include highlight-card;

        h4 {
            margin: 0 0 15px 0;
            font-size: 18px;
            font-weight: 700;
            color: $main-color;
            text-transform: uppercase;
            letter-spacing: 0.5px;
        }

        .skill-list {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 10px;

            li {
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 14px;
                color: #333;

                svg {
                    color: $main-color;
                    font-size: 16px;
                    flex-shrink: 0;
                }
                span {
                    font-weight: 500;
                }
            }
        }
    }
}

.hook-about {
  width: 100%;
  .container-hook-about {
    gap: $gap;
    @media (max-width: 374px) {
      @include flex-column-center;
    }
    @media (min-width: 768px) {
      @include flex-row-center;
    }
    .profile {
      .card-user {
        p {
          margin: 0;
        }
        @include flex-column-center;
        margin: 0 0 10px;
        svg {
          font-size: 20px;
        }
      }
      li {
        margin: 7px 0;
        svg {
          margin: 0 5px;
        }
      }
    }
    .tags {
      display: flex;
      justify-content: space-around;
      gap: 20px;
      .tag {
        @include tags;
      }
    }
    .text-hook-about {
      @include flex-column-center;
      .box {
        @include flex-row-center;
        gap: 20px;
        @media (max-width: 768px) {
          @include flex-column-center;
          text-align: center;
        }
        img {
          width: 100%;
          height: 100%;
          max-width: 100px;
          border-radius: 50%;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.219);
          border-color: $main-color;
          border-style: solid;
          border-width: 2px;
        }
      }
    }
  }
}