@import "../utils/variables";
@import "../utils/mixins";

.experiences {
    margin-bottom: 30px;
}
.banner {
  min-height: 500px;
  @include flex-column-center;
  margin-bottom: 2rem;
  img {
    max-width: 300px;
    width: 100%;
    margin-top: 30px;
  }
}

.dim {
  text-align: center;
  margin: 2rem auto;
  justify-content: center;
  display: flex;
}

.skills {
    margin-bottom: 30px;
    .container-card-skills {
        margin: 20px 0;
        gap: 20px;
        @include flex-column-center;
        @media (min-width: 800px) {
            @include grid-2;
        } 
        .skills {
            display: flex;
            box-sizing: border-box;
            @include flex-column-center;
            justify-content: center;
            font-size: 15px;
            border-radius: 20px;
            height: 300px;
            width: 100%;
            margin: 0;
            padding: 0 20px;
            
            @media (min-width: 550px) {
                height: 220px;
            }
            @media (min-width: 800px) {
                height: 320px;
                font-size: 16px;
            }
            @media (min-width: 1200px) {
                height: 300px;
                font-size: 17px;
                text-align: center;
                
            }
            .traingle1 {
                width:50px;
                height: 50px;
                background-color: black;
                position: absolute;
            }
            .li-skills {
                display: flex;
                flex-direction: column;
                align-items: start;
                @media (min-width: 590px) {
                    align-items: center;
                }
                @media (min-width: 800px) {
                    align-items: start;
                }
                @media (min-width: 1200px) {
                    align-items: center;
                    
                }
            }
        }
    }
}

.technos {
  @include flex-row-center;
  justify-content: center;
  gap: 30px;
  font-size: 27px;
  @media (max-width: 375px) {
    font-size: 20px;
    gap: 20px;
} 
svg {
  @include zoom-btn;
}
}

.container-mobile {
  display:flex;
  text-align: center;
  @include flex-column-center;
  gap: 20px;
  @media (min-width: 1100px) {
    @include flex-row-center;
} 
}

.insert {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-radius: 7px;
  @include badark-colight-component;
  @include zoom-btn;
  span {
    font-size: 10px;
  }
  h3 {
    font-size: 12px;
  }
  p {
    font-size: 10px;
  }
}

.success {
    width: 100%;
    display: flex;
    flex-direction: column;
    .container-img-success {
        box-sizing: border-box;
        width: 100%;
        align-items: center;
        @media (min-width: 800px) {
            display: flex;
            width: 100%;
        }
        img {
            width: 100%;
            max-width: 300px;
            margin: 0 auto;
            display: block;
        }
        .container-success {
            li {
                padding: 10px;
                @media (min-width: 1200px) {
                    font-size: 18px;
                }
            }
        }
    }
}