@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#preloader {
    font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f1ed;
  color: #70588C;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}

#preloader .loader {
  width: 50px;
  height: 50px;
  border: 5px solid #70588C;
  border-top: 5px solid #E3DAFF;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#preloader.fade-out {
  opacity: 0;
  transition: opacity 0.4s ease-out;
  pointer-events: none;
}