

/* Style de l'overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Contenu de la modale */
  .modal-content {
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    margin: 30px;
    position: relative;
  }
  
  /* Bouton pour fermer la modale */
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    @include bablack-cowhite;
    border: none;
    font-size: 2rem;
    &:hover {
      @include bagradient-coblack;
    }
  }
  
  /* Style pour les champs du formulaire */
  form div {
    width: 100%;
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Bouton de soumission */
  button {
    @include bablack-cowhite;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    &:hover {
      @include bagradient-coblack;
    }
  }
  