
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 0 30px;
    
  }
  
  .modal-content {
    box-sizing: border-box;
    padding: 20px;
    border-radius: 8px;
    max-width: 768px;
    width: 100%;
    margin: 0 30px;
    position: absolute;
    background-color: rgba(25, 20, 43, 0.7);
    backdrop-filter: blur(20px);
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 5px;
    text-decoration: none;
    
  }
  #close-btn {
    padding: 0 10px;
    font-size: 2rem;
  }
  
  form {
    box-sizing: content-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      width: 100%;
      margin: 15px 30px;
      label {
        display: block;
        margin-bottom: 5px;
        font-size: 16px;
      }
      input {
        @include form-input-text;
        height: 25px;
        max-width: 300px;
      }
      textarea {
        @include form-input-text;
        height: 150px;
      }
    }
  }

  
  
  