@import "../../sass/utils/variables";
@import "../../sass/utils/mixins";

.container-dropdown {
    position: relative;
    margin-bottom: 20px;
    width: 50%;
    max-width: 512px;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 1024px) {
        margin-bottom: 15px;
    }
    .click-toggle {
        padding: 0;
        margin: 0;
        height: 30px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        @media (min-width: 1024px) {
            height: 45px;
        }
    }
    p {
        position: absolute;
        color: white;
        top: 6px;
        left: 10px;
        font-size: 15px;
        
        margin: 0;
        cursor: pointer;
        @media (min-width: 1024px) {
            font-size: 17px;
            top: 12px;
        }
    }
    button {
        width: 100%;
        height: 30px;
        background-color: $main-color;
        border: none;
        border-radius: 7px;
        padding: 0;
        cursor: pointer;
        @media (min-width: 1024px) {
            height: 45px;
        }
        svg {
            width: 32px;
            font-size: 16px;
            position: absolute;
            top: 7px;
            right: 5px;
            filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(338deg) brightness(100%) contrast(103%);
            @media (min-width: 1024px) {
                font-size: 20px;
                top: 12px;
                right: 15px;
            }
        }
    }
    .content-dropdown {
        background-color: #f6f6f6;
        margin: 0;
        font-size: 17px;
        line-height: 25px;
        padding: 0;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        &.open {
            height: auto;
          }
      
          &.closed {
            height: 0;
          }
        .content-drop {
            margin: 0;
            padding: 15px;
            font-weight: 300;
            
            li {
              padding: 8px 10px;
              transition: background-color 0.2s ease-in-out;
              
              &:hover {
                background-color: #e0e0e0;
                border-radius: 5px;
              }
            }
        }
    }
}
