@import "../utils/variables";
@import "../utils/mixins";


body.light-mode {
    @include bagradient-coblack;
    .nav-ul {
        @include bablack-cowhite-component;
        @media (min-width: 768px) {
            background-color: transparent;
            border: none;
        }
        .nav-li {
            @include underline-anim-black;
        }
    }
    .bar {
        background-color: $main-color;
    }
    .buttons-social {
        color: $light-color;
    }
    button {
        &.toggle-button {
            @include btn;
            @include btn-color-main;
        }
        &.main-button {
            @include btn;
            @include btn-color-main;
        }
    }
    .formation {
        @include bablack-cowhite-component;
    }
    select {
        @include bablack-cowhite-component;
    }
    .card-skills {
        @include bablack-cowhite-component;
    }
    .tag {
        @include btn;
        @include bablack-cowhite-component;
    }
    .modal-content {
        background-color: rgb(242, 239, 255, 0.8);
        backdrop-filter: blur(20px);
        color: $light-text;
        input, textarea {
            background-color: $light-input;
            color: $light-text;
        }
        .btn-submit-form, .close-btn {
            @include btn-color-main;
            @include btn;
            @include transition-btn;
            &:hover {
                background: $light-background;
                color: $light-text;
                border: $main-color 1px solid;
                text-decoration: none;
            }
        }
    }
    button.modal-button {
        @include modal-btn;
        color: $light-text;
    }
    footer {
        @include bablack-cowhite-component;
        .main-button {
            @include btn;
            @include bagradient-coblack;
        }
    }
}
  
body.dark-mode {
    @include bablack-cowhite;
    .nav-ul {
        @include bagradient-coblack-component;
        @media (min-width: 768px) {
            background: transparent;
            border: none;
        }
        .nav-li {
            @include underline-anim-white;
        }
    }
    .bar {
        background-color: $dark-text;
    }
    button.toggle-button {
        @include btn;
        @include btn-color-main;
    }
    .formation {
        @include bagradient-coblack-component;
    }
    select {
        @include bagradient-coblack-component;
    }
    .card-skills {
        @include bagradient-coblack-component;
    }
    .tag {
        @include btn;
        @include bagradient-coblack-component;
    }
    .modal-content {
        background-color: rgba(25, 20, 43, 0.8);
        backdrop-filter: blur(20px);
        color: $dark-text;
        input, textarea {
            background-color: $dark-input;
            color: $dark-text;
        }
        .btn-submit-form, .close-btn {
            background: $light-background;
            color: $light-text;
            @include btn;
            @include transition-btn;
            &:hover {
                @include bablack-cowhite;
                border: $light-border 1px solid;
                text-decoration: none;
            }
        }
    }
    
    button.modal-button {
        @include modal-btn;
        color: $dark-text;
    }
    footer {
        @include bagradient-coblack-component;
        .main-button {
            @include btn;
            @include btn-color-main;
        }
    }
}