@import "../utils/variables";
@import "../utils/mixins";

.works {
    margin-bottom: 30px;
    .container-card-works {
        gap: 20px;
        @include grid-2;
        
        @media (max-width: 768px) {
            @include flex-column-center;
        } 
        .card-works {
            position: relative;
            width: 100%;
            height: 280px;
            display: flex;
            flex-direction: column;
            border-radius: 15px;
            overflow: hidden;
            background-color: white;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            @media (min-width: 1200px) {
                height: auto;
            }
            img {
                width: 100%;
                height: 140px;
                object-fit: cover;
                @media (min-width: 1200px) {
                    height: 180px;
                }
            }
            .card-content {
                display: flex;
                flex-direction: column;
                flex: 1;
                padding: 15px 15px 20px 15px;
                justify-content: space-between;
            }
            h3 {
                color: $main-color;
                margin: 0;
                font-size: 16px;
                @media (min-width: 450px) {
                    font-size: 18px;
                }
            }
            .work-category {
                
                font-size: 13px;
            }
            .btn-secondary {
                margin: 0;
                text-align: center;
            }
            .work-tools {
                display: none;
            }
            .description-collapse {
                .collapse-button {
                    background-color: rgba(0, 0, 0, 0.9);
                    color: white;
                    @include btn;
                    position: absolute;
                    z-index: 10;
                    bottom: 15px;
                    left: 15px;
                    font-size: 17px;
                    
                }
            }
        }
    }
}
