@import "../utils/mixins";

.works {
    margin-bottom: 30px;
    .container-card-works {
        margin: 20px 0;
        gap: 20px;
        @include flex-column-center;
        @media (min-width: 800px) {
            @include grid-2;
        } 
        .card-works {
            position: relative;
            width: 100%;
            height: 225px;
            @media (min-width: 1200px) {
                height: 275px;
            }
            img {
                border-radius: 15px;
                width: 100%;
                height: 225px;
                object-fit: cover;
                filter: grayscale(0%) brightness(60%);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                @media (min-width: 1200px) {
                    height: 275px;
                }
            }
            h3 {
                position: absolute;
                color: white;
                margin: 0;
                top: 10px;
                left: 15px;
                font-size: 16px;
                @media (min-width: 450px) {
                    font-size: 20px;
                }
            }
            .work-category {
                position:absolute;
                color: white;
                bottom: 15px;
                left: 15px;
            }
            .work-tools {
                position:absolute;
                color: white;
                bottom: 15px;
                right: 15px;
            }
            .btn {
                position: absolute;
                bottom: -15px;
                right: 15px;           
                color: white;
                @include btn;
                font-size: 14px;
                z-index: 10;
            }
            .description-collapse {
                .collapse-button {
                    background-color: rgba(0, 0, 0, 0.9);
                    color: white;
                    @include btn;
                    position: absolute;
                    z-index: 10;
                    bottom: 15px;
                    left: 15px;
                    font-size: 17px;
                    
                }
                .description-text {
                    position: absolute;
                    background-color: rgba(0, 0, 0, 0.7);
                    color: white;
                    overflow: auto;
                    scrollbar-color: white #121212;
                    border-radius: 10px;
                    top: 15px;
                    left: 15px;
                    width: calc(100% - 30px); /* Largeur = 100% moins 15px */
                    height: calc(100% - 30px);
                    margin: 0 auto; /* Centrer horizontalement */
                    transform-origin: bottom left; /* Point d'origine pour l'animation */
                    transform: scale(0); /* Initialement replié */
                    transition: transform 0.4s ease-in-out; /* Animation fluide */
                    p {
                        margin: 20px;
                        font-size: 15px;
                        padding-left: 30px;
                        text-wrap: pretty;
                    }
                }
                .description-text.open {
                    transform: scale(1); /* Dépliage complet */
                }
                .description-text.closed {
                    transform: scale(0); /* Replié */
                }
            }
        }
    }
}
