@import "../utils/variables";
@import "../utils/mixins";

footer {
    width: 100%;
    @include flex-column-center;
    .footer-main {
        @include flex-column-center;
        @media (min-width: 1024px) {
            width: 100%;
            display: grid;
            justify-items: center;
            grid-template-columns: 1fr 1fr 1fr;
        } 
        gap:20px;
        img {
            max-width: 100px;
        }
        .social-media {
            display: flex;
            gap: 15px;
        }
    }
}