@import "../utils/variables";
@import "../utils/mixins";


.menu-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav {
        font-family: "Space Grotesk", sans-serif;
        position: relative;
        margin: 20px 40px;
        font-weight: bold;
        .nav-ul {
            display: flex;
            align-items: flex-start;
            gap: $gap;
            .nav-li {
                @include flex-row-center;
            }
        }
        
        @media (max-width: 991px) {
            display: block;
            position: absolute;
            left: 20px;
            
            z-index: 5;
        }
    }
    .toggle-button {
        position: absolute;
        cursor: pointer;
        padding: 7px;
        display: flex;
        right: 30px;
        top: 30px;
    }
}


.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    .bar {
        width: 25px;
        height: 4px;
        border-radius: 25% / 25%;
        margin: 2px 0;
        transition: background-color 0.3s ease;
    }
    .close-nav {
        font-size: 50px;
        padding: 0;
    }
}

@media (max-width: 768px) {
    h1 {
        opacity: 0;
    }
}

@media (max-width: 991px) {
    h1 {
        opacity: 0;
    }
    .hamburger {
        display: flex;
        margin: 20px 10px;
        .close-nav {
            line-height: 27px;
            margin: -1.5px -2px;
        }
    }
    .nav-ul {
        position: absolute;
        margin-left: 10px;
        top: 40px;
        flex-direction: column;
        border-radius: 5px;
        padding: 10px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: opacity 0.3s ease, transform 0.3s ease;
        &.open {
            opacity: 1;
            visibility: visible;
            transform: translateY(0)
        }
        
    }
    
}
