@import "../utils/variables";
@import "../utils/mixins";

.logo { 
    max-width: 50px;
    height: 100%;
}

.logo-h1 {
    display: flex;
    align-items: center;
    h1 {
        margin: 20px 20px;
    }
}

.menu-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    nav {
        font-family: "Space Grotesk", sans-serif;
        position: relative;
        margin: 20px 40px;
        font-weight: bold;
        
        .nav-ul {
            display: flex;
            align-items: center;
            gap: 30px;
            
            .nav-li {
                @include flex-row-center;
                
                a {
                    @include btn;
                    @include btn-animated-link;
                    text-decoration: none;
                }
            }
        }
        
        @media (max-width: 768px) {
            margin: 20px auto;
            
            .nav-ul {
                position: absolute;
                right: -5px;
                top: 100%;
                flex-direction: column;
                background: white;
                border-radius: 5px;
                padding: 10px;
                opacity: 0;
                visibility: hidden;
                transform: translateY(-20px);
                transition: opacity 0.3s ease, transform 0.3s ease;
                z-index: 5;
                
                &.open {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
            }
        }
    }
    
    .toggle-button {
        position: absolute;
        cursor: pointer;
        padding: 7px;
        display: flex;
        right: 30px;
        top: 30px;
    }
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    
    .bar {
        width: 25px;
        height: 4px;
        border-radius: 25% / 25%;
        margin: 2px 0;
        transition: background-color 0.3s ease;
    }
    
    .close-nav {
        font-size: 50px;
        padding: 0;
        line-height: 27px;
        margin: -1.5px -2px;
        color: $main-color;
    }
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
        position: fixed;
        right: 20px;
        top: 23px;
        z-index: 10;
    }
}

@media (max-width: 991px) {
    .menu-nav {
        justify-content: space-between;
    }

    nav {
        margin: 20px 5px !important;
        
        .nav-ul {
            gap: 10px !important;
        }
    }

    h1 {
        margin: 20px !important;
    }
}
