@import "../utils/variables";
@import "../utils/mixins";

nav {
    @include flex-row-center;
    justify-content: space-between;
    .nav-ul {
        @include flex-row-center;
        gap: $gap;
        @media (max-width: 499px) {
            display: none;
        }
        li {
            @include flex-row-center;
            
        }
    }
}
