@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marko+One&display=swap");
.menu-nav nav {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.menu-nav nav .nav-ul {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.menu-nav nav .nav-ul .nav-li {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 768px) {
  .menu-nav nav {
    display: block;
    position: absolute;
    left: 20px;
    margin-top: -50px;
    z-index: 5;
  }
}
.menu-nav .toggle-button {
  position: absolute;
  cursor: pointer;
  padding: 7px;
  display: flex;
  right: 30px;
  top: 30px;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.hamburger .bar {
  width: 25px;
  height: 4px;
  border-radius: 25%/25%;
  margin: 2px 0;
  transition: background-color 0.3s ease;
}
.hamburger .close-nav {
  font-size: 50px;
  padding: 0;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
    margin: 20px 10px;
  }
  .hamburger .close-nav {
    line-height: 27px;
    margin: -1.5px -2px;
  }
  .nav-ul {
    position: absolute;
    margin-left: 10px;
    top: 40px;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  .nav-ul.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
footer {
  padding: 30px;
  position: relative;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
footer .footer-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media (min-width: 800px) {
  footer .footer-main {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
footer .footer-main .contact-mail {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-main .contact-mail .main-button {
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
footer .footer-main .contact-mail .main-button:hover {
  transform: scale(1.1);
}
footer .footer-main img {
  max-width: 100px;
  margin: 15px 0;
}
footer .footer-main .social-media {
  display: flex;
  font-size: 24px;
  gap: 15px;
}
footer .footer-main .social-media a {
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
footer .footer-main .social-media a:hover {
  transform: scale(1.1);
}
footer .footer-secondary {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
footer .footer-secondary .heart {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}
footer .footer-secondary .heart p {
  margin: 0;
}
footer .footer-secondary .heart .btn-fav {
  font-size: 20px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}
footer .footer-secondary .heart .btn-fav input[type=checkbox] {
  display: none;
}

.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #121212;
  transition: opacity 0.4s ease-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #7F45ED;
  border-top: 5px solid #E3DAFF;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loading-screen p {
  margin-top: 10px;
  text-align: center;
  color: #E3DAFF;
}

.fondu-out {
  opacity: 0;
  pointer-events: none;
}

body.light-mode .background-color {
  background: linear-gradient(180deg, rgba(242, 239, 255, 0.7) 0%, rgba(249, 249, 251, 0.7) 20%);
  backdrop-filter: blur(20px);
  color: #723AD7;
}
body.light-mode .background-color .nav-ul {
  background-color: #F2EFFF;
  color: #723AD7;
  border: 1px solid #C2B0FF;
}
@media (min-width: 768px) {
  body.light-mode .background-color .nav-ul {
    background-color: transparent;
    border: none;
  }
}
body.light-mode .background-color .nav-ul .nav-li {
  background: linear-gradient(to top, #723AD7 0%, #723AD7 1px, transparent 2px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.3s cubic-bezier(0.77, 0, 0.18, 1);
}
body.light-mode .background-color .nav-ul .nav-li:hover {
  background-size: 100% 100%;
}
body.light-mode .background-color .nav-ul .nav-li .active {
  background: linear-gradient(to top, #723AD7 0%, #723AD7 1px, transparent 2px) no-repeat;
  background-size: 100% 100%;
  transition: background-size 0.3s cubic-bezier(0.77, 0, 0.18, 1);
}
body.light-mode .background-color .bar {
  background-color: #7F45ED;
}
body.light-mode .background-color .buttons-social {
  color: #F9F9FB;
}
body.light-mode .background-color button.toggle-button {
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 6px 8px;
  font-size: 15px;
  background-color: #7F45ED;
  color: white;
}
body.light-mode .background-color .card {
  background-color: #F2EFFF;
  color: #723AD7;
  border: 1px solid #C2B0FF;
}
body.light-mode .background-color .card:hover {
  background-color: #EAE3FF;
  border: 1px solid transparent;
}
body.light-mode .background-color .carousel {
  box-shadow: none;
  transition: box-shadow 0.3s ease-in-out;
}
body.light-mode .background-color .carousel:hover {
  box-shadow: 0px 0px 6.6px rgba(0, 0, 0, 0.119), 0px 0px 46px rgba(0, 0, 0, 0.26);
}
body.light-mode .background-color .formation {
  background-color: #F2EFFF;
  color: #723AD7;
  border: 1px solid #C2B0FF;
}
body.light-mode .background-color select {
  background-color: #F2EFFF;
  color: #723AD7;
  border: 1px solid #C2B0FF;
}
body.light-mode .background-color .tag {
  background-color: #E0D6FF;
  color: #723AD7;
  border: 1px solid #C2B0FF;
}
body.light-mode .background-color .modal-content {
  color: #E3DAFF;
}
body.light-mode .background-color .modal-content input, body.light-mode .background-color .modal-content textarea {
  background-color: #EFF0F3;
  color: #723AD7;
}
body.light-mode .background-color .modal-content .btn-submit-form, body.light-mode .background-color .modal-content .close-btn {
  background: rgba(25, 20, 43, 0.8);
  color: #E3DAFF;
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 6px 8px;
  font-size: 15px;
  transition: background-color 0.2s ease-in-out, color 0.3s ease-in-out;
}
body.light-mode .background-color .modal-content .btn-submit-form:hover, body.light-mode .background-color .modal-content .close-btn:hover {
  background: #E3DAFF;
  color: #7F45ED;
  border: #7F45ED 1px solid;
  text-decoration: none;
}
body.light-mode .background-color button.modal-button {
  background: none;
  padding: 0;
  font-size: 16px;
  border: none;
  color: #723AD7;
}
body.light-mode .background-color footer {
  background-color: #F2EFFF;
  color: #723AD7;
  border: 1px solid #C2B0FF;
}
body.light-mode .background-color footer .main-button {
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 6px 8px;
  font-size: 15px;
  background-color: #7F45ED;
  color: white;
}
body.light-mode .background-color footer .link {
  background: linear-gradient(to top, #723AD7 0%, #723AD7 1px, transparent 2px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.3s cubic-bezier(0.77, 0, 0.18, 1);
}
body.light-mode .background-color footer .link:hover {
  background-size: 100% 100%;
}
body.light-mode .background-color tr {
  background-color: #F2EFFF;
  color: #723AD7;
  border: 1px solid #C2B0FF;
}
body.light-mode .background-color tr:hover {
  background-color: #EAE3FF;
  border: 1px solid transparent;
}
@media (min-width: 600px) {
  body.light-mode .background-color .table {
    background-color: #F2EFFF;
    color: #723AD7;
    border: 1px solid #C2B0FF;
  }
  body.light-mode .background-color .table:hover {
    background-color: #EAE3FF;
    border: 1px solid transparent;
  }
}

body.dark-mode .background-color {
  background: linear-gradient(180deg, rgba(25, 20, 43, 0.8) 0%, rgba(25, 25, 27, 0.8) 20%);
  backdrop-filter: blur(20px);
  color: #E3DAFF;
}
body.dark-mode .background-color .nav-ul {
  background-color: #291A4E;
  color: #E3DAFF;
}
@media (min-width: 768px) {
  body.dark-mode .background-color .nav-ul {
    background: transparent;
    border: none;
  }
}
body.dark-mode .background-color .nav-ul .nav-li {
  background: linear-gradient(to top, #E3DAFF 0%, #E3DAFF 1px, transparent 2px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.3s cubic-bezier(0.77, 0, 0.18, 1);
}
body.dark-mode .background-color .nav-ul .nav-li:hover {
  background-size: 100% 100%;
}
body.dark-mode .background-color .nav-ul .nav-li .active {
  background: linear-gradient(to top, #E3DAFF 0%, #E3DAFF 1px, transparent 2px) no-repeat;
  background-size: 100% 100%;
  transition: background-size 0.3s cubic-bezier(0.77, 0, 0.18, 1);
}
body.dark-mode .background-color .bar {
  background-color: #E3DAFF;
}
body.dark-mode .background-color button.toggle-button {
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 6px 8px;
  font-size: 15px;
  background-color: #7F45ED;
  color: white;
}
body.dark-mode .background-color .card {
  background-color: #291A4E;
  color: #E3DAFF;
}
body.dark-mode .background-color .card:hover {
  background-color: #361B69;
}
body.dark-mode .background-color .formation {
  background-color: #291A4E;
  color: #E3DAFF;
}
body.dark-mode .background-color select {
  background-color: #291A4E;
  color: #E3DAFF;
}
body.dark-mode .background-color .tag {
  background-color: #19142B;
  color: #E3DAFF;
  border: 1px solid #5A3CA0;
}
body.dark-mode .background-color .modal-content {
  color: #E3DAFF;
}
body.dark-mode .background-color .modal-content input, body.dark-mode .background-color .modal-content textarea {
  background-color: #19191B;
  color: #E3DAFF;
}
body.dark-mode .background-color .modal-content .btn-submit-form, body.dark-mode .background-color .modal-content .close-btn {
  background: #E3DAFF;
  color: #723AD7;
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 6px 8px;
  font-size: 15px;
  transition: background-color 0.2s ease-in-out, color 0.3s ease-in-out;
}
body.dark-mode .background-color .modal-content .btn-submit-form:hover, body.dark-mode .background-color .modal-content .close-btn:hover {
  background: linear-gradient(180deg, rgba(25, 20, 43, 0.8) 0%, rgba(25, 25, 27, 0.8) 20%);
  backdrop-filter: blur(20px);
  color: #E3DAFF;
  border: #C2B0FF 1px solid;
  text-decoration: none;
}
body.dark-mode .background-color button.modal-button {
  background: none;
  padding: 0;
  font-size: 16px;
  border: none;
  color: #E3DAFF;
}
body.dark-mode .background-color .label-work .base {
  background-color: #291A4E;
  color: #E3DAFF;
}
body.dark-mode .background-color .label-work .pointer {
  border-bottom: 59px solid #291A4E;
}
body.dark-mode .background-color footer {
  background-color: #291A4E;
  color: #E3DAFF;
}
body.dark-mode .background-color footer .main-button {
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 6px 8px;
  font-size: 15px;
  background-color: #7F45ED;
  color: white;
}
body.dark-mode .background-color footer .link {
  background: linear-gradient(to top, #E3DAFF 0%, #E3DAFF 1px, transparent 2px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.3s cubic-bezier(0.77, 0, 0.18, 1);
}
body.dark-mode .background-color footer .link:hover {
  background-size: 100% 100%;
}
body.dark-mode .background-color tr {
  background-color: #291A4E;
  color: #E3DAFF;
}
body.dark-mode .background-color tr:hover {
  background-color: #361B69;
}
@media (min-width: 600px) {
  body.dark-mode .background-color .table {
    background-color: #291A4E;
    color: #E3DAFF;
  }
  body.dark-mode .background-color .table:hover {
    background-color: #361B69;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 0 30px;
}

.modal-content {
  box-sizing: border-box;
  padding: 20px;
  border-radius: 8px;
  max-width: 768px;
  width: 100%;
  margin: 0 30px;
  position: absolute;
  background-color: rgba(25, 20, 43, 0.7);
  backdrop-filter: blur(20px);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 5px;
  text-decoration: none;
}

#close-btn {
  padding: 0 10px;
  font-size: 2rem;
}

form {
  box-sizing: content-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form div {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  margin: 15px 30px;
}
form div label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}
form div input {
  max-width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  height: 25px;
  max-width: 300px;
}
form div textarea {
  max-width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  height: 150px;
}

.btn {
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 6px 8px;
  font-size: 15px;
  background-color: #7F45ED;
  color: white;
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  display: inline-block;
  margin: 30px 0;
}
.btn:hover {
  transform: scale(1.1);
}

.card {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  border-radius: 7px;
  transition: background-color 0.2s ease-in-out, color 0.3s ease-in-out;
}

.catch {
  text-align: center;
  font-style: italic;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(500%);
  }
  to {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes slideInFromLeft {
  from {
    transform: translateX(-500%);
  }
  to {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}
.header-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.header-banner img,
.header-banner h1,
.header-banner p {
  opacity: 0;
  visibility: hidden;
}
.header-banner img {
  max-width: 300px;
  width: 100%;
  animation: slideInFromRight 0.6s ease-out forwards;
}
.header-banner h1 {
  animation: slideInFromLeft 0.6s ease-out 0.2s forwards;
}
.header-banner p {
  margin: 10px auto 20px;
  animation: slideInFromLeft 0.6s ease-out 0.4s forwards;
}
.header-banner .buttons-social {
  gap: 20px;
  display: flex;
  margin: 20px auto;
}
.header-banner .buttons-social a {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #7F45ED;
  color: white;
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 6px 8px;
  font-size: 15px;
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.header-banner .buttons-social a:hover {
  transform: scale(1.1);
}
.header-banner .toggle-button {
  margin: 10px auto;
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.header-banner .toggle-button:hover {
  transform: scale(1.1);
}

.hook-about {
  width: 100%;
}
.hook-about .container-hook-about {
  gap: 30px;
}
@media (min-width: 768px) {
  .hook-about .container-hook-about {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.hook-about .container-hook-about .profile .card-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 10px;
}
.hook-about .container-hook-about .profile .card-user svg {
  font-size: 20px;
  margin: 10px 0;
}
.hook-about .container-hook-about .profile .card-user li {
  margin: 2px 0;
}
.hook-about .container-hook-about .profile li {
  margin: 7px 0;
}
.hook-about .container-hook-about .profile li svg {
  margin: 0 5px;
}
.hook-about .container-hook-about .tags {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.hook-about .container-hook-about .tags .tag {
  font-size: 14px;
  border-radius: 15px;
  padding: 5px 7px;
}
.hook-about .container-hook-about .text-hook-about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hook-works, .hook-services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-hook-services {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
@media (min-width: 932px) {
  .container-hook-services {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.container-hook-services .service {
  text-align: center;
  padding-bottom: inherit;
  padding-top: inherit;
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.container-hook-services .service:hover {
  transform: scale(1.1);
}
.container-hook-services .service img {
  max-width: 175px;
  margin-top: 20px;
}

.experiences {
  margin-bottom: 30px;
}

.banner {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.banner img {
  max-width: 300px;
  width: 100%;
  margin-top: 30px;
}

.dim {
  text-align: center;
  margin: 2rem auto;
  justify-content: center;
  display: flex;
}

.skills {
  margin-bottom: 30px;
}
.skills .container-card-skills {
  margin: 20px 0;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 800px) {
  .skills .container-card-skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
.skills .container-card-skills .skills {
  display: flex;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  border-radius: 20px;
  height: 300px;
  width: 100%;
  margin: 0;
  padding: 0 20px;
}
@media (min-width: 550px) {
  .skills .container-card-skills .skills {
    height: 220px;
  }
}
@media (min-width: 800px) {
  .skills .container-card-skills .skills {
    height: 320px;
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .skills .container-card-skills .skills {
    height: 300px;
    font-size: 17px;
    text-align: center;
  }
}
.skills .container-card-skills .skills .traingle1 {
  width: 50px;
  height: 50px;
  background-color: black;
  position: absolute;
}
.skills .container-card-skills .skills .li-skills {
  display: flex;
  flex-direction: column;
  align-items: start;
}
@media (min-width: 590px) {
  .skills .container-card-skills .skills .li-skills {
    align-items: center;
  }
}
@media (min-width: 800px) {
  .skills .container-card-skills .skills .li-skills {
    align-items: start;
  }
}
@media (min-width: 1200px) {
  .skills .container-card-skills .skills .li-skills {
    align-items: center;
  }
}

.technos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: 27px;
}
@media (max-width: 375px) {
  .technos {
    font-size: 20px;
    gap: 20px;
  }
}
.technos svg {
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.technos svg:hover {
  transform: scale(1.1);
}

.container-mobile {
  display: flex;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media (min-width: 1100px) {
  .container-mobile {
    display: none;
  }
}

.container-desktop {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 20px;
  grid-auto-flow: row;
  grid-template-areas: ". . . . . . . . Experience5" ". . . . . . . Certificate4 ." ". . . Experience2 Certificate3 Experience3 Experience4 . ." ". Certificate2 Experience1 . . Personal3 Personal4 . ." "Certificate1 Personal2 . . . . . . ." "Personal1 . . . . . . . .";
}
.container-desktop .experience1 {
  grid-area: Experience1;
}
.container-desktop .experience2 {
  grid-area: Experience2;
}
.container-desktop .experience3 {
  grid-area: Experience3;
}
.container-desktop .experience4 {
  grid-area: Experience4;
}
.container-desktop .experience5 {
  grid-area: Experience5;
}
.container-desktop .certificate1 {
  grid-area: Certificate1;
}
.container-desktop .certificate2 {
  grid-area: Certificate2;
}
.container-desktop .certificate3 {
  grid-area: Certificate3;
}
.container-desktop .certificate4 {
  grid-area: Certificate4;
}
.container-desktop .personal1 {
  grid-area: Personal1;
}
.container-desktop .personal2 {
  grid-area: Personal2;
}
.container-desktop .personal3 {
  grid-area: Personal3;
}
.container-desktop .personal4 {
  grid-area: Personal4;
}
@media (max-width: 1100px) {
  .container-desktop {
    display: none;
  }
}

.insert {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-radius: 7px;
  background-color: #291A4E;
  color: #E3DAFF;
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.insert:hover {
  transform: scale(1.1);
}
.insert span {
  font-size: 10px;
}
.insert h3 {
  font-size: 12px;
}
.insert p {
  font-size: 10px;
}

.success {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.success .container-img-success {
  box-sizing: border-box;
  width: 100%;
  align-items: center;
}
@media (min-width: 800px) {
  .success .container-img-success {
    display: flex;
    width: 100%;
  }
}
.success .container-img-success img {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  display: block;
}
.success .container-img-success .container-success li {
  padding: 10px;
}
@media (min-width: 1200px) {
  .success .container-img-success .container-success li {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }
  thead tr {
    display: none;
  }
  tbody tr {
    margin-bottom: 1rem;
    border-radius: 8px;
    padding: 1rem;
  }
  tbody td {
    padding-left: 50%;
    position: relative;
    border: none;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  tbody td:last-child {
    border-bottom: none;
  }
  tbody td::before {
    position: absolute;
    top: 12px;
    left: 15px;
    width: 45%;
    white-space: nowrap;
    font-weight: 600;
    color: #333;
    content: attr(data-label);
  }
}
.table {
  border-collapse: separate;
  border-radius: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}
table th,
table td {
  padding: 8px;
  text-align: left;
}
table th {
  font-weight: bold;
}

.works {
  margin-bottom: 30px;
}
.works .container-card-works {
  margin: 20px 0;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 800px) {
  .works .container-card-works {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
.works .container-card-works .card-works {
  position: relative;
  width: 100%;
  height: 225px;
}
@media (min-width: 1200px) {
  .works .container-card-works .card-works {
    height: 275px;
  }
}
.works .container-card-works .card-works img {
  border-radius: 15px;
  width: 100%;
  height: 225px;
  object-fit: cover;
  filter: grayscale(0%) brightness(60%);
}
@media (min-width: 1200px) {
  .works .container-card-works .card-works img {
    height: 275px;
  }
}
.works .container-card-works .card-works h3 {
  position: absolute;
  color: white;
  margin: 0;
  top: 10px;
  left: 15px;
  font-size: 16px;
}
@media (min-width: 450px) {
  .works .container-card-works .card-works h3 {
    font-size: 20px;
  }
}
.works .container-card-works .card-works .work-language {
  position: absolute;
  color: white;
  top: 10px;
  right: 15px;
}
.works .container-card-works .card-works .work-tools {
  position: absolute;
  color: white;
  bottom: 15px;
  right: 15px;
}
.works .container-card-works .card-works .description-collapse .collapse-button {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 6px 8px;
  font-size: 15px;
  position: absolute;
  z-index: 10;
  bottom: 15px;
  left: 15px;
  font-size: 17px;
}
.works .container-card-works .card-works .description-collapse .description-text {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  overflow: auto;
  scrollbar-color: white #121212;
  border-radius: 10px;
  top: 15px;
  left: 15px;
  width: calc(100% - 30px); /* Largeur = 100% moins 15px */
  height: calc(100% - 30px);
  margin: 0 auto; /* Centrer horizontalement */
  transform-origin: bottom left; /* Point d'origine pour l'animation */
  transform: scale(0); /* Initialement replié */
  transition: transform 0.4s ease-in-out; /* Animation fluide */
}
.works .container-card-works .card-works .description-collapse .description-text p {
  margin: 20px;
  font-size: 15px;
  padding-left: 30px;
  text-wrap: pretty;
}
.works .container-card-works .card-works .description-collapse .description-text.open {
  transform: scale(1); /* Dépliage complet */
}
.works .container-card-works .card-works .description-collapse .description-text.closed {
  transform: scale(0); /* Replié */
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  margin: auto;
  overflow: hidden;
}
.carousel .carousel-slide {
  min-width: 100%;
  height: 300px;
}
.carousel .carousel-slide .slide-content {
  position: relative;
}
.carousel .carousel-slide .slide-content img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  filter: grayscale(0%) brightness(70%);
}
.carousel .carousel-slide .slide-content h3 {
  position: absolute;
  color: white;
  margin: 0;
  top: 10px;
  left: 15px;
  font-size: 16px;
}
@media (min-width: 450px) {
  .carousel .carousel-slide .slide-content h3 {
    font-size: 20px;
  }
}
.carousel .carousel-slide .slide-content .work-language {
  position: absolute;
  color: white;
  top: 10px;
  right: 15px;
}
.carousel .carousel-slide .slide-content .work-tools {
  position: absolute;
  color: white;
  bottom: 15px;
  right: 15px;
}
.carousel .carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: white;
  border: none;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
}
.carousel .carousel-button.left {
  left: 10px;
}
.carousel .carousel-button.right {
  right: 10px;
}
.carousel .carousel-indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}
.carousel .carousel-indicators .indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: gray;
  border: none;
  cursor: pointer;
}
.carousel .carousel-indicators .indicator.active {
  background: white;
}

* {
  font-family: "Montserrat", sans-serif;
}

h1, h2 {
  font-family: "Marko One", serif;
}

h1 {
  margin: 30px auto 20px;
}

h2 {
  text-align: center;
  margin: 30px 0;
}

h1, h2, p {
  line-height: 1.3;
  min-height: 1.2em;
}

body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
body .background-color {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1240px;
  width: 100%;
  margin: 0px auto;
  box-sizing: border-box;
}

header {
  margin: 0 20px;
}
@media (max-width: 768px) {
  header {
    margin: 60px 20px;
  }
}

main {
  box-sizing: border-box;
  width: 100%;
  min-height: 500px;
}

section {
  box-sizing: border-box;
  width: 100%;
  padding: 0px 30px;
  margin: 60px 0;
}

ul {
  padding-inline-start: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

select {
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.intro {
  margin: 0;
}

.card-banner {
  max-width: 768px;
}

/*# sourceMappingURL=index.css.map */
