@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marko+One&display=swap");
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  /*@media (max-width: 768px) {
      display: block;
      position: absolute;
      left: 20px;
      margin-top: -20px;
  }*/
}
nav .nav-ul {
  display: flex;
  gap: 30px;
}
nav .nav-ul .nav-li {
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav .nav-ul .nav-li:hover {
  text-decoration: underline;
}
nav .nav-ul button:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  nav {
    display: none;
  }
}

/*.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    .bar {
        width: 25px;
        height: 4px;
        border-radius: 25% / 25%;
        margin: 2px 0;
        transition: background-color 0.3s ease;
    }
    .close-nav {
        font-size: 50px;
        padding: 0;
    }
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
        margin: 20px 10px;
        .close-nav {
            line-height: 27px;
            margin: -1.5px -2px;
        }
    }
    .nav-ul {
        position: absolute;
        margin-left: 10px;
        top: 40px;
        flex-direction: column;
        border-radius: 5px;
        padding: 10px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: opacity 0.3s ease, transform 0.3s ease;
        &.open {
            opacity: 1;
            visibility: visible;
            transform: translateY(0)
        }
        li,button {
            margin-bottom: 10px;
            &:hover {
                text-decoration: underline;
            }
        }
    }

}*/
footer {
  padding: 30px;
  position: relative;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  /*@include flex-column-center;*/
}
footer .footer-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media (min-width: 800px) {
  footer .footer-main {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
footer .footer-main .contact-mail {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-main .contact-mail p {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-main img {
  max-width: 100px;
}
footer .footer-main .social-media {
  display: flex;
  font-size: 20px;
  gap: 15px;
}
footer .footer-secondary {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.header-banner img {
  max-width: 300px;
  width: 100%;
}
.header-banner .all-mode {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

body.light-mode {
  background: linear-gradient(93deg, rgb(255, 251, 213) 0%, rgb(255, 204, 251) 100%);
  color: #121212;
}
body.light-mode .nav-ul {
  background: #121212;
  color: white;
}
@media (min-width: 768px) {
  body.light-mode .nav-ul {
    background-color: transparent;
    color: #121212;
  }
}
body.light-mode .bar {
  background-color: #121212;
}
body.light-mode button.toggle-button {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 10px 15px;
  background: #121212;
  color: white;
}
body.light-mode button.main-button {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 10px 15px;
  background: #121212;
  color: white;
}
body.light-mode .formation {
  background: #121212;
  color: white;
}
body.light-mode select {
  background: #121212;
  color: white;
}
body.light-mode .card-skills {
  background: #121212;
  color: white;
}
body.light-mode .tag {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 10px 15px;
  background: #121212;
  color: white;
}
body.light-mode .modal-content {
  background: linear-gradient(93deg, rgb(255, 251, 213) 0%, rgb(255, 204, 251) 100%);
  color: #121212;
}
body.light-mode .modal-content .btn-submit-form, body.light-mode .modal-content .close-btn {
  background: #121212;
  color: white;
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 10px 15px;
}
body.light-mode .modal-content .btn-submit-form:hover, body.light-mode .modal-content .close-btn:hover {
  background: linear-gradient(93deg, rgb(255, 251, 213) 0%, rgb(255, 204, 251) 100%);
  color: #121212;
  border: #313030 1px solid;
  text-decoration: none;
}
body.light-mode button.modal-button {
  background: none;
  padding: 0;
  font-size: 16px;
  border: none;
  color: #121212;
}
@media (max-width: 768px) {
  body.light-mode button.modal-button {
    color: white;
  }
}
body.light-mode footer {
  background: #121212;
  color: white;
}
body.light-mode footer .main-button {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 10px 15px;
  background: linear-gradient(93deg, rgb(255, 251, 213) 0%, rgb(255, 204, 251) 100%);
  color: #121212;
}

body.dark-mode {
  background: #121212;
  color: white;
}
body.dark-mode .nav-ul {
  background: linear-gradient(93deg, rgb(255, 251, 213) 0%, rgb(255, 204, 251) 100%);
  color: #121212;
}
@media (min-width: 768px) {
  body.dark-mode .nav-ul {
    background: transparent;
    color: white;
  }
}
body.dark-mode .bar {
  background-color: white;
}
body.dark-mode button.toggle-button {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 10px 15px;
  background: linear-gradient(93deg, rgb(255, 251, 213) 0%, rgb(255, 204, 251) 100%);
  color: #121212;
}
body.dark-mode .formation {
  background: linear-gradient(93deg, rgb(255, 251, 213) 0%, rgb(255, 204, 251) 100%);
  color: #121212;
}
body.dark-mode select {
  background-color: white;
  color: #121212;
}
body.dark-mode select:hover {
  background-color: white;
}
body.dark-mode .card-skills {
  background: linear-gradient(93deg, rgb(255, 251, 213) 0%, rgb(255, 204, 251) 100%);
  color: #121212;
}
body.dark-mode .tag {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 10px 15px;
  background: linear-gradient(93deg, rgb(255, 251, 213) 0%, rgb(255, 204, 251) 100%);
  color: #121212;
}
body.dark-mode .modal-content {
  background: #121212;
  color: white;
}
body.dark-mode .modal-content .btn-submit-form, body.dark-mode .modal-content .close-btn {
  background: linear-gradient(93deg, rgb(255, 251, 213) 0%, rgb(255, 204, 251) 100%);
  color: #121212;
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 10px 15px;
}
body.dark-mode .modal-content .btn-submit-form:hover, body.dark-mode .modal-content .close-btn:hover {
  background: #121212;
  color: white;
  border: white 1px solid;
  text-decoration: none;
}
body.dark-mode button.modal-button {
  background: none;
  padding: 0;
  font-size: 16px;
  border: none;
  color: white;
}
@media (max-width: 768px) {
  body.dark-mode button.modal-button {
    color: #121212;
  }
}
body.dark-mode footer {
  background: linear-gradient(93deg, rgb(255, 251, 213) 0%, rgb(255, 204, 251) 100%);
  color: #121212;
}
body.dark-mode footer .main-button {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 10px 15px;
  background: #121212;
  color: white;
}

/* Style de l'overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 0 30px;
}

/* Contenu de la modale */
.modal-content {
  box-sizing: border-box;
  padding: 20px;
  border-radius: 8px;
  max-width: 768px;
  width: 100%;
  margin: 0 30px;
  position: absolute;
}

/* Bouton pour fermer la modale */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 5px;
  font-size: 2rem;
  text-decoration: none;
}

#close-btn {
  padding: 0 10px;
}

form {
  box-sizing: content-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Style pour les champs du formulaire */
}
form div {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  margin: 15px 30px;
}
form div label {
  display: block;
  margin-bottom: 5px;
  font-size: 17px;
  font-weight: bold;
}
form div input {
  max-width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  height: 25px;
  max-width: 300px;
}
form div textarea {
  max-width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  height: 150px;
}

.about {
  width: 100%;
  margin: 30px 0;
}
.about .tag-btn {
  width: 100%;
  justify-content: space-around;
  gap: 20px;
}
@media (min-width: 768px) {
  .about .tag-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.about .tag-btn .tags {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 498px) {
  .about .tag-btn .tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
  }
  .about .tag-btn .tags .tag {
    margin: 0;
  }
}
.about .tag-btn .tags .tag {
  margin: 15px;
}
.about .tag-btn .formation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 30px;
  border-radius: 10px;
}
.about .tag-btn .formation h3 {
  margin: 0;
}
.about .tag-btn .formation p {
  margin: 0;
}

.skills {
  margin-bottom: 30px;
}
.skills .container-card-skills {
  margin: 20px 0;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 800px) {
  .skills .container-card-skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
.skills .container-card-skills .card-skills {
  display: flex;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  border-radius: 20px;
  height: 300px;
  width: 100%;
  margin: 0;
  padding: 0 20px;
}
@media (min-width: 550px) {
  .skills .container-card-skills .card-skills {
    height: 220px;
  }
}
@media (min-width: 800px) {
  .skills .container-card-skills .card-skills {
    height: 320px;
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .skills .container-card-skills .card-skills {
    height: 300px;
    font-size: 17px;
    text-align: center;
  }
}
.skills .container-card-skills .card-skills .li-skills {
  display: flex;
  flex-direction: column;
  align-items: start;
}
@media (min-width: 590px) {
  .skills .container-card-skills .card-skills .li-skills {
    align-items: center;
  }
}
@media (min-width: 800px) {
  .skills .container-card-skills .card-skills .li-skills {
    align-items: start;
  }
}
@media (min-width: 1200px) {
  .skills .container-card-skills .card-skills .li-skills {
    align-items: center;
  }
}
.skills .container-card-skills .card-skills .li-skills li {
  list-style: disc;
}

.works {
  margin-bottom: 30px;
}
.works .container-card-works {
  margin: 20px 0;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 800px) {
  .works .container-card-works {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
.works .container-card-works .card-works {
  position: relative;
  width: 100%;
  height: 225px;
}
@media (min-width: 1200px) {
  .works .container-card-works .card-works {
    height: 275px;
  }
}
.works .container-card-works .card-works img {
  border-radius: 15px;
  width: 100%;
  height: 225px;
  object-fit: cover;
  filter: grayscale(0%) brightness(60%);
}
@media (min-width: 1200px) {
  .works .container-card-works .card-works img {
    height: 275px;
  }
}
.works .container-card-works .card-works h3 {
  position: absolute;
  color: white;
  margin: 0;
  top: 10px;
  left: 15px;
  font-size: 16px;
}
@media (min-width: 450px) {
  .works .container-card-works .card-works h3 {
    font-size: 20px;
  }
}
.works .container-card-works .card-works .work-language {
  position: absolute;
  color: white;
  top: 10px;
  right: 15px;
}
.works .container-card-works .card-works .work-tools {
  position: absolute;
  color: white;
  bottom: 15px;
  right: 15px;
}
.works .container-card-works .card-works .description-collapse .collapse-button {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 10px 15px;
  position: absolute;
  z-index: 10;
  bottom: 15px;
  left: 15px;
  font-size: 17px;
}
.works .container-card-works .card-works .description-collapse .description-text {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  overflow: auto;
  scrollbar-color: white #121212;
  border-radius: 10px;
  top: 15px;
  left: 15px;
  width: calc(100% - 30px); /* Largeur = 100% moins 15px */
  height: calc(100% - 30px);
  margin: 0 auto; /* Centrer horizontalement */
  transform-origin: bottom left; /* Point d'origine pour l'animation */
  transform: scale(0); /* Initialement replié */
  transition: transform 0.4s ease-in-out; /* Animation fluide */
}
.works .container-card-works .card-works .description-collapse .description-text p {
  margin: 20px;
  font-size: 15px;
  padding-left: 30px;
  text-wrap: pretty;
}
.works .container-card-works .card-works .description-collapse .description-text.open {
  transform: scale(1); /* Dépliage complet */
}
.works .container-card-works .card-works .description-collapse .description-text.closed {
  transform: scale(0); /* Replié */
}

.success {
  width: 100%;
}
.success .container-img-success {
  box-sizing: border-box;
  width: 100%;
}
@media (min-width: 800px) {
  .success .container-img-success {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.success .container-img-success img {
  max-width: 400px;
  width: 100%;
}
.success .container-img-success .container-success li {
  padding: 10px;
}
@media (min-width: 1200px) {
  .success .container-img-success .container-success li {
    font-size: 18px;
  }
}

.experiences {
  margin-bottom: 30px;
}

* {
  font-family: "Montserrat", sans-serif;
}

h1, h2 {
  font-family: "Marko One", serif;
}

body {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}
body .home-body {
  margin: 0;
  padding: 0;
}

.header-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1240px;
  width: 100%;
  margin: 0px auto;
  box-sizing: border-box;
}

header {
  margin: 0 20px;
}
@media (max-width: 768px) {
  header {
    margin: 30px 20px;
  }
}

main {
  box-sizing: border-box;
  width: 100%;
}

section {
  box-sizing: border-box;
  width: 100%;
  padding: 0px 30px;
}

ul {
  padding-inline-start: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

select {
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

/*# sourceMappingURL=index.css.map */
