/* Error: Undefined mixin.
 *    ,
 * 77 |             @include modal-btn;
 *    |             ^^^^^^^^^^^^^^^^^^
 *    '
 *   src\sass\components\_togglemode.scss 77:13  @import
 *   src\sass\pages\_home.scss 3:9               @use
 *   src\sass\style.scss 5:1                     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 77 \2502              @include modal-btn;\d\a    \2502              ^^^^^^^^^^^^^^^^^^\a    \2575 \a   src\\sass\\components\\_togglemode.scss 77:13  @import\a   src\\sass\\pages\\_home.scss 3:9               @use\a   src\\sass\\style.scss 5:1                     root stylesheet";
}
